<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error Docs</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body id="page-top">
    <div class="container">

        <h1 class="mt-5">약톡톡 Error Docs</h1>
        <hr>

        <div class="mt-3" th:each="entry : ${groupedErrors}">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Http Status</th>
                        <th>Error Code</th>
                        <th>Error Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="error : ${entry.value}">
                        <td th:text="${error.httpStatus}">404</td>
                        <td th:text="${error.errorCode}">404</td>
                        <td th:text="${error.errorMessage}">Not Found</td>
                    </tr>
                </tbody>
            </table>

            <br>

        </div>
    </div>

</body>

</html>
